* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
.countainer {
	width: 100%;
	margin: 0 auto;
}
.medsos {
	/*display: flex;*/
	background-image: url('../imgwebnew/home.jpeg');
	background-size: cover;
	width: 110%;
	height: 70vh;
	background-color: blue;	
	/*position: relative;*/
}
.medsos ul li{
	display: inline-block;
	float: right;
	padding: 15px 20px;
	background-color: #0000d6;
	color: white;
	margin-right: 20px;
	margin-top: 410px;
	position: 	relative;
	border-color: #52ffff;
	border: 3px solid;
	border-top-left-radius: 20%;
	border-bottom-right-radius: 20%;
}
.medsos ul li:hover {
	background-color:white;
	color: #0000d6;	
}
.medsos ul {
	/*background-color: white;*/
}

}
.info {
	padding: 13px 50px;
	padding-left: 15px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 50vh;
	border: 3px solid;
}
.info h1 {
	padding: 13px 50px;
	padding-left: 15px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.info ul li	{
	display: inline-block;
	padding: 10px 50px;
	padding-left: 5px;
	border-color: white;
	border: 3px solid;
	background-color: #0000d6;
	color: white;
	text-align: center;
	text-align: center;
	align-content: center;
	align-items: center;
	position: relative;
}
.info ul {
	background-color: #0000d6;
	width: 62%;
	text-align: center;
}
.info ul li:hover {
	color:#0000d6;
	background-color: white;
}.active {
	color:#0000d6;
	background-color: white;
}
.section {
	padding: 50px 0;
}
.box {
	display: inline-block;
}
.col-2 {
	width: 40%;
	border: 3px solid;

}
.box {
	height: 300px;
	width: 100%;
}
.slide1, .slide2, .slide3 {
	/*float: left;*/
	position: absolute;
	background-size: cover;
	height: 100%;
	width: 30%;
}
.slide1 {
	background-image: url('../imgwebnew/galeri1.jpg') no-repeat center;
	background-size: cover;
	animation: fade 8s infinite;
	-webkit-animation: fade 8s infinite;
}
.slide2 {
	background-image: url("imgwebnew/galeri2.jpeg") no-repeat center;
	background-size: cover;
	animation: fade2 8s infinite;
	-webkit-animation: fade2 8s infinite;
}
.slide3 {
	background: url('galeri3.jpeg') no-repeat center;
	background-size: cover;
	animation: fade3 8s infinite;
	-webkit-animation: fade3 8s infinite;
}
@keyframes fade {
	0% {opacity: 1}
	33.333% {opacity: 0}
	66.666% {opacity: 0}
	100% {opacity: 1}
}
@keyframes fade2 {
	0% {opacity: 0}
	33.333% {opacity: 1}
	66.666% {opacity: 0}
	100% {opacity: 0}
}
@keyframes fade3 {
	0% {opacity: 0}
	33.333% {opacity: 0}
	66.666% {opacity: 1}
	100% {opacity: 0}
}